/*Page panier*/
body {
  min-width: 490px;
  max-width: 1900px;
  height: auto;
  padding: auto;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

/*Header*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #f3e9f1;
}

.header {
  height: auto;
  display: flex;
  width: auto;
}

.logo_header {
  display: flex;
  height: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  list-style: none;
  color: #9e63ce;
  justify-content: center;
  cursor: pointer;
  width: auto;
}

.onglet_accueil {
  margin-right: 15px;
}

/*Section 1 - Présentation*/
.accueil {
  background-color: #965fe9;
  color: white;
  height: 225px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.accueil p {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
/*Section 2 - Produits - les boutons*/
.shopping_details {
  background-color: #f3e9f1;
}

.tableau {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 135px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tableau_contenu {
  background-color: #f3e9f1;
}

table {
  width: 50%;
}
td {
  table-layout: fixed;
}
th,
td {
  border: 3px solid grey;
}

.produit_image_panier {
  width: 15%;
}
.reference_panier {
  width: 4%;
}
.select_reference {
  width: 3%;
}
.quantite_panier {
  width: 0%;
  margin-left: 28px;
}
.supprimer {
  width: 0%;
}
.prix_panier {
  width: 2%;
}
.prix_soustotal_panier {
  width: 1%;
}

.total_final1,
.total_final2,
.total_final3,
.total_final4,
.total_final5,
.total_final6 {
  border: 0px;
}

.total_final {
  background-color: #f3e9f1;
}

img {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

/*Section 2 - Produits - les boutons*/
.les_boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bouton_conteneur {
  display: flex;
  justify-content: center;
}

.bouton {
  background: linear-gradient(175deg, #c7acac, #965fe9);
  color: white;
  border-color: transparent;
  font-size: 12px;
  height: 35px;
  font-weight: bold;
  border-radius: 10px;
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.bouton_supprimer {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
}

form {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.style_champs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font: 16px "Fira Sans", sans-serif;
}

input {
  margin: 6px;
}

/*Footer*/
footer {
  background-color: #965fe9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer_content {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  display: flex;
}

.container ul li {
  list-style: none;
}

h3 {
  font-size: 20px;
  font-family: "Shrikhand";
  letter-spacing: initial;
}

.footer_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_social a:hover {
  color: black;
}

footer a {
  color: white;
  font-size: 20px;
  margin: 25px;
}

@media screen and (min-width: 758px) and (max-width: 1520px) {
  /*Ici, le CSS s'appliquera aux écrans de 758px minimum à 1520px maximum */
  .total_produits {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produits {
    width: 75%;
    height: 300px;
  }

  img {
    height: 85px;
    object-fit: cover;
  }
  .texte_produit {
    width: 50%;
  }

  .tableau {
    min-height: 735px;
  }

  h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  footer a {
    margin: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 758px) {
  /*Ici, le CSS s'appliquera aux écrans de 0px minimum à 758maximum */
  .logo_header {
    display: flex;
    height: 90px;
  }

  img {
    height: 85px;
    object-fit: cover;
  }

  .navigation {
    margin-right: 10px;
  }
  h1 {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .accueil {
    margin-bottom: 0;
  }
  .accueil p {
    font-size: 18px;
  }
  .total_produits {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 0;
  }
  .produits {
    width: 90%;
    height: 240px;
    margin: 15px;
  }

  .quantite_panier {
    margin-left: 25px;
  }
  .image_produit {
    width: 60%;
  }
  .texte_produit {
    width: 52%;
  }
  h2 {
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  .prix {
    font-size: 14px;
  }
  .bouton {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
  footer {
    overflow-x: hidden;
  }

  .footer-content {
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    font-size: 17px;
  }
}
