/*Page Accueil*/
body {
  min-width: 350px;
  max-width: 1900px;
  height: auto;
  padding: auto;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

/*Header*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #f3e9f1;
}

.header {
  height: auto;
  display: flex;
  width: auto;
}

.logo_header {
  display: flex;
  height: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  list-style: none;
  color: #9e63ce;
  justify-content: center;
  cursor: pointer;
  width: auto;
}

.onglet_accueil {
  margin-right: 15px;
}

/*Section 1 - Présentation*/
.accueil {
  background-color: #965fe9;
  color: white;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.ma_commande {
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.details_commande {
  display: flex;
}

/*Section 2 - Produits*/

.total_produits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.tableau {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 300px;
}
td {
  table-layout: fixed;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}

.produit_image_panier {
  width: 100%;
}

img {
  height: 150px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

/*Footer*/
footer {
  background-color: #965fe9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer_content {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  display: flex;
}

.container ul li {
  list-style: none;
}

.footer_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_social a:hover {
  color: black;
}

footer a {
  color: white;
  font-size: 20px;
  margin: 25px;
}

@media screen and (min-width: 758px) and (max-width: 1520px) {
  /*Ici, le CSS s'appliquera aux écrans de 758px minimum à 1520px maximum */
  .total_produits {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer a {
    margin: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 758px) {
  /*Ici, le CSS s'appliquera aux écrans de 0px minimum à 758maximum */
  .logo_header {
    display: flex;
    height: 90px;
  }
  .navigation {
    margin-right: 10px;
  }
  h1 {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .accueil {
    margin-bottom: 0;
  }

  .total_produits {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 0;
  }
  h2 {
    font-size: 17px;
    display: flex;
    justify-content: center;
  }

  footer {
    overflow-x: hidden;
  }

  .footer-content {
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
